<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <span>
      <img
        class="chevron collapsible__chevron"
        src="images/chevron.svg"
        alt="#"
      />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur ea
    expedita quod perferendis numquam reiciendis rem asperiores obcaecati? Vel,
    fugit!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <span>
      <img
        class="chevron collapsible__chevron"
        src="images/chevron.svg"
        alt="#"
      />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur ea
    expedita quod perferendis numquam reiciendis rem asperiores obcaecati? Vel,
    fugit!
  </div>
</div>
<script src="js/main.js"></script>
